<mat-card>
    <mat-card-content>
        <h1>Ciudades</h1>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container [matColumnDef]="column" *ngFor="let column of listColumnas; let i = index">
                <span *ngIf="column != 'opciones'">
                    <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
                    <mat-cell *matCellDef="let object">{{ object[column] }}</mat-cell>
                </span>

                <span *ngIf="column === 'opciones'">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let object">
                        <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item >
                                <mat-icon>visibility</mat-icon>
                                <span>Editar</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </span>
            </ng-container>

            <mat-header-row *matHeaderRowDef="listColumnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: listColumnas"></mat-row>
        </mat-table>
    </mat-card-content>


    <form [formGroup]="form" *ngIf="isForm | async as isForm">
        <mat-grid-list cols="3" rowHeight="80px">
            <mat-grid-tile appearance="fill">
                <mat-form-field appearance="fill" style="width: 80%; margin-left: -20px;">
                    <mat-label> Nombre </mat-label>
                    <input type="text" placeholder="Digite el codigo del Pais" matInput formControlName="nombre"/>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile appearance="fill">
                <mat-form-field appearance="fill" style="width: 80%; margin-left: -20px;">
                    <mat-label> Descripcion </mat-label>
                    <input type="text" placeholder="Digite la descripcion" matInput formControlName="descripcion"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile appearance="fill">
                <mat-form-field appearance="fill" style="width: 80%; margin-left: -20px;">
                    <mat-label> latitud </mat-label>
                    <input type="text" placeholder="Digite la Latitud" matInput formControlName="latitud"/>
                </mat-form-field>
            </mat-grid-tile>

        <mat-grid-tile appearance="fill">
            <mat-form-field appearance="fill" style="width: 80%; margin-left: -20px;">
                <mat-label> longitud </mat-label>
                <input type="text" placeholder="Digite la Longitud" matInput formControlName="longitud"/>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile appearance="fill">
            <mat-form-field>
                <mat-select formControlName="idpais">
                  <mat-option *ngFor="let pais of listaPaises" [value]="pais.id">
                    {{pais.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>
        </mat-grid-list>
    </form>

    <div style="display:flex; margin-top: 12px;">
        <div style="flex: 1 1 auto"></div>
       
        <button
          mat-flat-button
          [disabled]="form.invalid"
          color="primary"
          (click)="guardarCiudad()"
        >
        GUARDAR
        </button>
    </div>

</mat-card>